/** custom scrollbar **/
html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

html::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

/*Full Site*/
body {
    font-family: 'Averia Sans Libre', cursive;
}

.single_line_input, .single_line_input:focus, .single_line_input:hover {
    background: none;
    border-radius: 0;
    box-shadow: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;
}

.global_search_input, .global_search_input:hover, .global_search_input:focus {
    border-color: black !important;
    color: black;
}

.newsletter_input, .newsletter_input:hover, .newsletter_input:focus {
    border-color: white !important;
    color: white;
}

.newsletter_button {
    background-color: white;
    color: black;
}

.bg_white_group_input, .bg_white_group_input:hover, .bg_white_group_input:focus {
    border-color: black !important;
    color: black;
}

.bg_white_input_group_button {
    background-color: black;
    color: white;
}

.btn-white-to-black:hover {
    background-color: black !important;
    color: white !important;
}

/* pagination */
.page-item.active .page-link {
    background-color: #000;
}