/** custom scrollbar **/
html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

html::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

/*Full Site*/
body {
    font-family: 'Averia Sans Libre', cursive;
}

/* pagination */
.page-item.active .page-link {
    background-color: #000;
}