/*Full Site*/
/*Full Site*/
body {
    font-family: 'Averia Sans Libre', cursive;
}

/* Home arrow sign */
.home-arrow {
    position: absolute;
    color: white;
    top: 5%;
    left: 5%;
}

/* Nav Bar */
.navbar-top-border {
    border-top: 45px solid #333a44;
}

.navbar {
    background-color: white;
    /* position: fixed !important;
    z-index: 999;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(4px);
    top: 0px; */
}

/* Footer Section */
.section_footer {
    background-color: rgb(41, 40, 40);
}

.section_footer .hr {
    background-color: #898989 !important;
}

.copyright_section {
    background-color: #50abc8;
}

/*About us page*/
.about_us .team-section img.avatar {
    max-width: 200px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
}

/*Home Page*/
.home_banner_section {
    background-image: url(../images/banner-bg.png);
    padding-bottom: 100px;
    background-size: cover;
}

.home_banner_section .video_text {
    font-size: 50px;
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;
}

.home_banner_section .controller_text {
    font-size: 70px;
    color: #50abc8;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
}

.home_banner_section .banner_text {
    font-size: 16px;
    color: #fefeff;
}

.home_banner_section #carouselHomeSlider a.carousel-control-prev {
    position: absolute;
    left: 15px;
    top: 102%;
    background-color: #50abc8;
}

.home_banner_section #carouselHomeSlider .carousel-control-prev, .home_banner_section #carouselHomeSlider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #ffffff;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100px;
}

.home_banner_section #carouselHomeSlider .carousel-control-prev:hover, .home_banner_section #carouselHomeSlider .carousel-control-next:hover, .home_banner_section #carouselHomeSlider .carousel-control-prev:focus, .home_banner_section #carouselHomeSlider .carousel-control-next:focus {
    background: #50abc8;
    color: #fff;
}

.home_banner_section #carouselHomeSlider a.carousel-control-next {
    position: absolute;
    left: 100px;
    top: 102%;
}

.home_banner_section #carouselHomeSlider .carousel-control-next-icon, .home_banner_section #carouselHomeSlider .carousel-control-prev-icon {
    height: auto;
    width: auto;
}

.home_shop_bt {
    width: 35%;
    font-size: 18px;
    background-color: #fcfcfd;
    color: #191919;
    border-left: 10px solid #50abc8;
    border-radius: 30px;
    border-right: 10px solid #50abc8;
    border-top: 4px solid #50abc8;
    border-bottom: 4px solid #50abc8;
}

.home_shop_bt a {
    color: #191919;
}

.home_shop_bt a:hover {
    color: #50abc8;
}

.home_about_section {
    background-color: #f2f7fd;
}

.home_video_section {
    background-image: url(../images/video-bg.png);
}

.home_video_section .video_text_2 {
    font-size: 50px;
    color: #50abc8;
}

.home_video_section .controller_text_2 {
    font-size: 58px;
    line-height: 50px;
}

.home_testimonial_section .box_main {
    border: 2px solid #424242;
    border-radius: 20px;
}

.home_testimonial_section .client_main {
    background-color: #50abc8;
}

